
body
{
    background: linear-gradient(70deg, #62B6B7, #97DECE,#CBEDD5);

}

header
{
    background: linear-gradient(80deg, #FFFFFF, #FFFFFF, #CBEDD5,#97DECE, #62B6B7);
    display: flex;
    justify-content: space-between;

}

hr
{
    border : 3px solid #62B6B7;
    margin-top: 0;
}

.list
{
    display: flex;
}

ul
{
    list-style: none;
    margin-top: 90px;
}

li a {
    color: black;
}

a
{

    font-family: 'Fragment Mono', monospace;
    font-size: 20px;
    text-decoration: none;
    margin-inline: 15px;
    color: #439A97;
}

.head td
{
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    margin-top: 2px;
}

table
{
    border-radius: 2px;
}

td
{
    font-family: 'Fragment Mono', monospace;
    font-size: 15px;
    text-align: center;
    padding: 2px;

}

.activityLine td {
    border-bottom: #439A97 1px solid;
}

h1
{
    font-family: 'Rampart One', cursive;
    color: #439A97;
    font-size: 3em;
}

.logo
{
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: -10px;
}

.box
{
    align-items: center;
    background-color: #CBEDD5;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 74%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    border : 1px solid #439A97;
}


main
{
    margin-top: 10%;
    margin-left: 25%;
    margin-bottom :3.2%;
}

p
{
    height: 20px;
    width: 20px;
    display: inline;
    margin-top: 20px;
}

.box1{

    align-items: flex-start;
    background-color: #EDF1D6;
    border-radius: 20px;
    box-sizing: border-box;
    height: 300px;
    padding: 20px;
    width: 25%;
    overflow: hidden;
}

.box2
{
    align-items: center;
    background-color: #CBEDD5;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 74%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    border : 1px solid #439A97;
}
