
/*--------------------------------------------------------------------------BODY----------------------------------------------------------------------*/

body {
    background: linear-gradient(70deg, #62B6B7, #97DECE, #CBEDD5);
}
/*--------------------------------------------------------------------------HEADER/NAVBAR----------------------------------------------------------------------*/
header {
    background: linear-gradient(80deg, #FFFFFF, #FFFFFF, #CBEDD5, #97DECE, #62B6B7);
    display: flex;
    justify-content: space-between;

}

hr {
    border: 3px solid #62B6B7;
    margin-top: 0;
}

.list {
    display: flex;
}

ul {
    list-style: none;
    margin-top: 90px;
}

li a {
    color: black;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin-inline: 15px;
    color: #439A97;
}

/*--------------------------------------------------------------------------TABLE----------------------------------------------------------------------*/
.head td {
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    margin-top: 2px;
}

table {
    border-radius: 2px;
    align-items: center;
}

td {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
    padding: 2px;

}

.activityLine td {
    border-bottom: #439A97 1px solid;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Rampart One', cursive;
    color: #439A97;
    font-size: 3em;


}

.logo {
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: -10px;
}
/*--------------------------------------------------------------------------CONTAINTS----------------------------------------------------------------------*/
.box {
    align-items: center;
    background-color: #CBEDD5;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 74%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: 1px solid #439A97;
}


main {
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 3.2%;
}

p {
    height: 20px;
    width: 20px;
    display: inline;
    margin-top: 20px;
}

.box1 {

    align-items: flex-start;
    background-color: #EDF1D6;
    border-radius: 20px;
    box-sizing: border-box;
    height: 300px;
    padding: 20px;
    width: 25%;
    overflow: hidden;
}

.box2 {
    align-items: center;
    background-color: #CBEDD5;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 74%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: 1px solid #439A97;
}

.content {
    align-items: center;
    background-color: #CBEDD5;
    border-radius: 20px;
    box-sizing: border-box;
    height: 750px;
    padding: 20px;
    width: 74%;
    overflow: hidden;
    border: 1px solid #439A97;
    margin-top: -16%;
}

.content1 {

    align-items: center;
    background-color: #CBEDD5;
    border-radius: 20px;
    box-sizing: border-box;
    height:700px;
    padding: 20px;
    width: 40%;
    overflow: hidden;
    border: 1px solid #439A97;
    margin-left: 15%;
    margin-top: -1%;
}


/*--------------------------------------------------------------------------TEXT/OTHERS----------------------------------------------------------------------*/


input {
    border-radius: 6px;
    border: 1px solid black;
    display: grid;
    -moz-box-sizing: border-box;
}


label {

    /*font-family: 'Tilt Warp', cursive;*/
    font-family: 'Quicksand', sans-serif;
}

select {
    margin-left: 47px;
}

/*.title {*/
/*    color: #ff43fe;*/
/*}*/


/*--------------------------------------------------------------------------Flash message----------------------------------------------------------------------*/

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

.flash-success {
    background-color: chartreuse;
}

.flash-error {
    background-color: red
}

.flash-warning {
    background-color: orangered;
}


#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 400px;
    width: 600px;
}


/*--------------------------------------------------------------------------LOGIN----------------------------------------------------------------------*/

#login{
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 24%;
}

div.loginForm {

    align-items: flex-start;
    background: linear-gradient(45deg, #ECF2FF,#B5F1CC);
    border-radius: 20px;
    box-sizing: border-box;
    height:400px;
    padding: 20px;
    width: 25%;
    overflow: hidden;

}

.loginForm:hover{
    filter : drop-shadow(0 0 0.75rem black);
    transform:scale(1.01);
    cursor : pointer;
}

.loginForm {
    margin-right: 26%;
    margin-left: 23%;
}

div.loginForm label {

    display: inline-block;
    width: 285px;
    text-align: left;
    height: 60px;
    padding-top: 25px;
    font-size: 20px;
}

div.loginForm input{
    display: inline-block;

}

.mdp {
    font-size:18px;
    color: black;
    padding-left: 135px;
}

.mdp:hover{
    text-decoration: underline;
}

#btnLogin {
    height: 40px;
    width: 100px;
    transition-duration: 0.1s;
}

#btnLogin:hover {
    border: 1px solid black;
    border-radius: 6px;
    background-color: #CFCFCF;
    filter : drop-shadow(0 0 0.10rem black);
    color: black;
}
/*--------------------------------------------------------------------------DASHBOARD----------------------------------------------------------------------*/
.dashboard{
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 24%;
}

.iconAdmin {

    background: linear-gradient(45deg, #ECF2FF,#B5F1CC);
    border-radius: 100px;
    box-sizing: border-box;
    padding: 20px;
    display: ruby-base;
    font-size: 4em;
    justify-items: center;
    height: 20px;
    margin-left: 22%;
    overflow: hidden;
}

.user p, .campus p, .city p, .activity p {

    display: none;
    color: #06283D;
    font-size: 35px;

}

#icon1:hover ~ .user p {
    display: block;
    width: 300px;
}

#icon2:hover ~ .campus p {
    display: block;
    width: 250px;

}
#icon3:hover ~ .city p {
    display: block;
    width: 250px;
}

#icon4:hover ~ .activity p {
    display: block;
    width: 250px;

}

#icon1, #icon2, #icon3, #icon4 {
    display: flex;
    height: 20px;
    color : #62B6B7;
    font-size: 50px;

}

.user, .campus, .city, .activity {

    display: inline;
    overflow: hidden;

}

/*--------------------------------------------------------------------------LIST_USERS----------------------------------------------------------------------*/

.listUsers {
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 16%;
}


#arrow{
    font-size: 30px;
}

#arrow:hover{
    filter : drop-shadow(0 0 0.75rem black);
    transform:scale(1.20);
    cursor : pointer;
}
#linkUsers{
    color: #06283D;
}

#linkUsers:hover{
    text-decoration: underline;
}

#student{
    color: #06283D;

}

#navUsers {
    font-size: 19px;
    font-family: 'Tilt Warp', cursive;
}

#btnUsers{
    height: 70px;
    width: 100px;
    transition-duration: 0.1s;
}

#btnUsers a {
    margin:auto;
    color: black;
}

#btnUsers:hover{
    border: 1px solid black;
    border-radius: 6px;
    background-color: #CFCFCF;
    filter : drop-shadow(0 0 0.10rem black);
    color: black;
}

.contentUser{
    align-items: center;
    background: linear-gradient(45deg, #ECF2FF,#B5F1CC);
    border-radius: 20px;
    box-sizing: border-box;
    height:430px;
    padding: 20px;
    width: 40%;
    overflow: hidden;
    border: 1px solid #439A97;
    margin-left: 15%;
    margin-top: -1%;
    overflow-y: scroll;
    scrollbar-width: thin;
    filter : drop-shadow(0 0 0.10rem black);
}

#tableUsers{
    margin: auto;

}

/*--------------------------------------------------------------------------LIST_CAMPUS----------------------------------------------------------------------*/

.camp{
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 18%;
}

#navCamp{
    font-size: 19px;
    font-family: 'Tilt Warp', cursive;
}

#linkCamp{
    color: #06283D;
}

#linkCamp:hover {
    text-decoration: underline;
}

.contentCampus{

    background: linear-gradient(20deg, #ECF2FF,#B5F1CC);
    border-radius: 20px;
    box-sizing: border-box;
    height:300px;
    padding: 20px;
    width: 40%;
    overflow: hidden;
    border: 1px solid #439A97;
    margin-left: 15%;
    margin-top: 3%;
    filter : drop-shadow(0 0 0.10rem black);
}

#btnCamp{
    height: 27px;
    width: 100px;
    transition-duration: 0.1s;
}

#btnCamp a {
    margin:auto;
    color: black;
}

#btnCamp:hover{
    border: 1px solid black;
    border-radius: 6px;
    background-color: #CFCFCF;
    filter : drop-shadow(0 0 0.10rem black);
    color: black;
}

/*--------------------------------------------------------------------------CITY----------------------------------------------------------------------*/

.cityH2{
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 18%;
}

div.formCity input{
    display: inline-block;
    width: 180px;
    text-align: left;
    padding-right: 10px;
}

div.formCity1{

    position: absolute;
    padding: 18px;

}
div.formCity label{
    display: inline-block;
    width: 680px;
    text-align: right;
    margin: 10px;
}

.formCity #btnAdd{
    height: 46px;
    width: 100px;
    float: right;
    margin-right: 27%;
    margin-top: -60px;
    transition-duration: 0.1s;

}

#btnSearch {
    height: 27px;
    width: 100px;
    margin-right: 27%;
    margin-top: 5px;
    transition-duration: 0.1s;

}

#btnSearch:hover, #btnAdd:hover{
    border: 1px solid black;
    border-radius: 6px;
    background-color: #CFCFCF;
    filter : drop-shadow(0 0 0.10rem black);
    color: black;
}

#linkCity{
    color: #06283D;
}

#linkCity:hover {
    text-decoration: underline;
}

#navCity{
    font-size: 19px;
    font-family: 'Tilt Warp', cursive;

}

.contentCity {

    background: linear-gradient(12deg, #ECF2FF,#B5F1CC);
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 74%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: 1px solid #439A97;
    filter : drop-shadow(0 0 0.10rem black);
}

#tableCity{
    margin: auto;

}

/*--------------------------------------------------------------------------LIST_ACTIVITY----------------------------------------------------------------------*/


.activityTitle{
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 18%;
}

div.form label{

    text-align: right;
    padding-right: 0;
    margin: 8px;
   }

div.form input{
    display: inline-block;
}

div.form select{
    margin-left: 1px;
}

div.form .date{
    display: flex;
    margin: auto;
}

div.form .first{
    display: flex;
    margin: auto;
}

.filterForm {

    background: linear-gradient(12deg, #ECF2FF,#B5F1CC);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 68%;
    overflow: hidden;
    border: 1px solid #439A97;
    filter : drop-shadow(0 0 0.10rem black);
    margin-bottom: 40px;
    margin-left: 35px;
}

.form{
    display: inline-flex;
    margin-bottom: 3%;

}

.filterButton{
    display: flex;
    margin-top: 15px;
    color: black;
}

#btnCreate a {
    color: black;

}

div .filterButton #btnActivity{
    display: flex;
    margin: auto;

}

div .filterButton #btnCreate{
    display: flex;
    margin: auto;
}


#btnActivity:hover, #btnCreate:hover{
    border: 1px solid black;
    border-radius: 6px;
    background-color: #CFCFCF;
    filter : drop-shadow(0 0 0.10rem black);
    color: black;
}

.contentActivity {

    background: linear-gradient(12deg, #ECF2FF,#B5F1CC);
    border-radius: 10px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 74%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: 1px solid #439A97;
    filter : drop-shadow(0 0 0.10rem black);
}

.allActivity a{
    color: #06283D;
}

.linkActivity:hover, .linkActivity1:hover, .linkActivity2:hover, .linkActivity3:hover, .linkActivity4:hover, .linkActivity5:hover{
    text-decoration: underline;
}

.trTitle td {
    font-size: 19px;
    font-family: 'Tilt Warp', cursive;
}

.orga a {
    color: #06283D;
}

/*--------------------------------------------------------------------------PROFIL----------------------------------------------------------------------*/

.showTitle{
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 18%;
}

div .profilForm input {
    display: inline-block;
}

.contentShow{

    background: linear-gradient(12deg, #ECF2FF,#B5F1CC);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 74%;
    overflow: hidden;
    border: 1px solid #439A97;
    margin-top: -16%;
    /*filter : drop-shadow(0 0 0.10rem black);*/
}

.pp .contentShow {
    display: inline;
}

.pp {
    margin-left: 57%;
}

.txt {
    text-align: left;
    margin-left: 10%;
}

/*--------------------------------------------------------------------------CREATE_USER----------------------------------------------------------------------*/

.createUser {

    background: linear-gradient(12deg, #ECF2FF,#B5F1CC);
    border-radius: 20px;
    box-sizing: border-box;
    height: 640px;
    padding: 20px;
    width: 70%;
    overflow: hidden;
    border: 1px solid #439A97;
    margin-top: -2%;
    filter : drop-shadow(0 0 0.10rem black);

}

.createTitle{
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 18%;
}

div.formCreate input{
    display: inline-block;
    width: 180px;
    text-align: left;
    padding-right: 10px;
}

div.formCreate label{
    display: inline-block;
    width: 380px;
    text-align: right;
    margin: 10px;
}

#btnCreateU {
    height: 52px;
    width: 100px;
    margin-top: 5px;
    transition-duration: 0.1s;
    float: right;
    margin-right: 15%;

}

#btnCreateU:hover{
    border: 1px solid black;
    border-radius: 6px;
    background-color: #CFCFCF;
    filter : drop-shadow(0 0 0.10rem black);
    color: black;
}

/*--------------------------------------------------------------------------ADD_ACTIVITY----------------------------------------------------------------------*/

.addActivity{
    font-family: 'Rampart One', cursive;
    color: #06283D;
    font-size: 3em;
    margin-right: 26%;
    margin-left: 18%;
}

.addForm{
    background: linear-gradient(12deg, #ECF2FF,#B5F1CC);
    border-radius: 20px;
    box-sizing: border-box;
    height: 640px;
    padding: 20px;
    width: 70%;
    overflow: hidden;
    border: 1px solid #439A97;
    margin-top: -2%;
    filter : drop-shadow(0 0 0.10rem black);
}

div.addForm input{
    display: inline-block;
    width: 180px;
    text-align: left;
    padding-right: 10px;
}

div.addForm label{
    display: inline-block;
    width: 380px;
    text-align: right;
    margin: 10px;
}


#btnCreat{
    display: flex;
    margin: auto;
    float: right;
}
div #btnn a {

    float:  right;
    margin-top: 10%;

}
