<header  >


    <h1><a href="{{ path('activity_home') }}"><img class="logo" src="{{ asset('assets/activite.png') }}" alt="logo | Home" width="150px" ></a>Sortir</h1>
    {% include 'bodyStructure/menu/nav.html.twig' %}


</header>