<nav>
    <ul>

        <li><a href="#"></a>Villes</li>
        <li><a href="#"></a>Campus</li>
        <li><a href="{{ path('main_home') }}"></a>Accueil</li>
        <li><a href="#"></a>Profil</li>
        <li><a href="{{ path('app_login') }}"></a>Se Connecter</li>
        <li><a href="{{ path('app_logout') }}"></a>Se Deconnecter</li>
    </ul>
</nav>