{%  extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Page not found {% endblock %}

{% block body %}

    <h1> Oups ! Page inexistante !</h1>


    <h2> La page demandée n'existe pas...

        <br>

        <a href="{{ (path('app_login')) }}"> Retour </a>
    </h2>



{% endblock %}