{%  extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accès refusé {% endblock %}

{% block body %}

    <h1> Oups ! Accès refusé !</h1>


    <h2> Vous n'avez pas les droits nécessaires pour accéder à cette page...

        <br>

        <a href="{{ (path('app_login')) }}"> Retour </a>
    </h2>



{% endblock %}